body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: Arial, Sans-Serif, sans-serif;
    font-size: 12px;
}

hr {
    margin: 5px;
}

button {
    min-width: 100px;
}

button.b1 {
    width: 60px;
    min-width: initial;
}



