html {
    height: 100%;
}

body {
    margin: 0;
    padding: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    overflow-y: auto;
    background: black;
    color: lightblue;
    flex-wrap: nowrap;
}

fieldset {
    border: 1px solid #373737;
    margin: 4px;
    padding: 13px 5px 5px;
    min-width: 120px;
}

fieldset:before {
    content: "";
    background: #151521;
    color: #FFFFFF;
    height: 20px;
    text-align: center;
    position: relative;
    text-overflow: clip;
    overflow: hidden;
    display: block;
    margin: -13px -5px 1px;
}

legend {
    text-align: center;
    position: absolute;
    display: inline-block;
    z-index: 12;
    margin-top: -19px;
    margin-left: 2px;
    color: white;
}

header, main, footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 110px;
    border: 1px solid #373737;
    padding: 5px;
}

main, footer {
    gap: 5px;
    width: 100%;
}

main {
    height: calc(65% - 110px);
}

footer {
    height: 35%;
}


.console {
    height: 100%;
    width: 100%;
}

.console_content {
    white-space: break-spaces;
    font-family: monospace;
    height: calc(100% - 35px);
    overflow-y: auto;
}

.console_content .receive {
    color: green;
}

.console_content .send {
    color: red;
}


.scrollable {
    overflow: hidden;
    width: 100%;
    border: 1px solid #373737;
    box-sizing: border-box;
}

.scrollable .header {
    background: #151521;
    color: #FFFFFF;
    height: 30px;
    text-align: center;
    position: relative;
    text-overflow: clip;
    overflow: hidden;
}

.scrollable .header .title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#containerPresets, #containerTracks {
    min-width: 310px;
    width: 310px;
    flex-grow: 1;
}

#containerControls {
    flex-grow: 2;
}

.content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    height: calc(100% - 35px);
    align-content: flex-start;
    overflow-y: auto;
}

.preset, .track, .control, .setting, .setting_preset {
    border: 2px solid #6060aa;
    background: #101040;
    color: #FFFFFF;
    width: 110px;
    height: 12px;
    text-align: center;
    padding: 8px;
    position: relative;
    text-overflow: clip;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
}

.active {
    background: rgb(80, 80, 128);
}

.title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.button {
    visibility: hidden;
    border: 1px solid #6060aa;
    background: #101040;
    color: #FFFFFF;
    height: 30px;
    width: 30px;
    margin: 0;
    cursor: pointer;
    position: relative
}

#closebutton {
    visibility: inherit;
}

#editbutton, #closebutton {
    float: right;
}

#topbutton {
    float: right;
}

.setting {
    width: 200px;
    height: 45px;
}

.setting_preset {
    width: 250px;
    height: initial;
}

.myinput {
    background: #20207d;
    color: #FFFFFF;
    border: 1px solid #595959;
    text-align: center;
    width: 70px;
    height: 20px;
}

input[type="color"] {
    padding: 0;
    border: none;
    height: 25px;
    width: 70px;
    vertical-align: middle;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.content table {
    width: 100%;
}

.myselect {
    background: #20207d;
    border: 1px solid #595959;
    color: #FFFFFF;
    height: 21px;
    text-align: center;
    text-align-last: center;
}

hr {
    width: 100%;
    height: 1px;
    line-height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid;
}

.inner {
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 11px;
    tab-size: 10px;
}

.container {
    border: 1px solid black;
    padding: 5px;
}

.details {
    display: none;
    width: 100%;
}

.modal {
    border: 1px solid silver;
    box-shadow: 0 0 15px black;
    position: fixed;
    background-color: #373737;
    top: 50%;
    left: 50%;
    translate: -50%;
    transform: translate(0px, -50%);
    padding: 5px;
    color: white;
    font-family: arial, sans-serif;
}


.modal table tr td:nth-child(2) {
    padding-right: 5px;
    width: 50px;
    text-align: right;
}

#MaxVolts, #MaxAmps, #P2Amps, #P2Volts, #Resistor, #Color {
    width: 50px;
}

.pin, .led {

}

.pin {

}

#container > br {
    width: 100%;
    content: '';
}

#currentPresets {
    min-width: 150px;
}

#bladeConfig, #topConfig, #presetConfig {
    padding: 2px;
    border: 1px solid #6060aa;
    min-width: 800px;
    min-height: 250px;
    background-color: #20207d;
    width: 100%;
    font-size: 12px;
    box-sizing: border-box;
}

#blade_id {
    height: 25px;
}

textarea {
    box-sizing: border-box;
}

#lstErrors {
    color: white;
    background-color: darkgreen;
}

#lstErrors.error {
    background-color: darkred;
}

select, textarea {
    background: #20207d;
    border: 1px solid #595959;
    color: #FFFFFF;
    height: 25px;
}

select[multiple] {
    height: initial;
}

textarea {
    height: initial;
}

input {
    color: rgb(255, 255, 255);
    background: rgb(32, 32, 125);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(89, 89, 89);
    border-image: initial;
    height: 18px;
    font-size: 12px;
}

button {
    border: 1px solid #6060aa;
    background: #101040;
    color: #FFFFFF;
    width: 100px;
    text-align: center;
    padding: 4px;
    margin: 2px;
    position: relative;
    text-overflow: clip;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
}